<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../libs/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles/flex-main.css">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div class="wrap">
            <div class="left_nav">
                <h2>导航</h2>
                <a href="/flexbox/flex-index.html"><i class="fa fa-home"></i>home</a>
                <a href="/flexbox/flex-blog.html"><i class="fa fa-book"></i>blog</a>
                <a href="/flexbox/flex-works.html"><i class="fa fa-diamond"></i>work</a>
                <a href="/flexbox/flex-about.html"><i class="fa fa-user"></i>me</a>
            </div>
            <header>
                <div class="menu">菜单</div>
                <div class="title">美好的一天</div>
                <div class="seting">设置</div>
            </header>
            <content>
                <%= contents %>
            </content>
            <footer>
                <a href="/flexbox/flex-index.html"><i class="fa fa-home"></i>home</a>
                <a href="/flexbox/flex-blog.html"><i class="fa fa-book"></i>blog</a>
                <a href="/flexbox/flex-works.html"><i class="fa fa-diamond"></i>work</a>
                <a href="/flexbox/flex-about.html"><i class="fa fa-user"></i>me</a>
            </footer>
        </div>
    </body>
</html>
